/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Root
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("./../../../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Home
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Home {
  position: relative;
  padding: 20px;
  width: 100%;
}
