/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Root
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("./../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Root
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Sidebar {
  position: sticky;
  min-width: 250px;
  top: 50px;
  height: calc(100vh - 50px);
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--white-color);
  transition: var(--main-transition);
  box-shadow: 1px 5px 5px 2px var(--white-alt);
}
@media (max-width: 992px) {
  .Sidebar {
    min-width: fit-content;
  }
}
.Sidebar::-webkit-scrollbar {
  width: 0px;
}
.Sidebar .menu {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: var(--main-transition);
  width: 100%;
}
.Sidebar .menu:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}
.Sidebar .menu > span {
  position: relative;
  font-weight: bold;
  color: var(--black-color);
  margin-bottom: 15px;
  transition: var(--main-transition);
}
@media (max-width: 992px) {
  .Sidebar .menu > span {
    display: none;
  }
}
.Sidebar .menu .data {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: var(--main-transition);
  cursor: pointer;
  padding: 8px 4px;
  border-radius: 5px;
}
.Sidebar .menu .data:not(:first-child):hover {
  background-color: var(--black-color);
}
.Sidebar .menu .data:not(:first-child):hover span {
  color: var(--white-color);
}
.Sidebar .menu .data:first-child img {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.Sidebar .menu .data:not(:first-child) img {
  position: relative;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.Sidebar .menu .data span {
  position: relative;
  color: var(--black-color);
  font-weight: 600;
  transition: var(--main-transition);
}

.Sidebar .menu .data p {
  position: relative;
  font-weight: bold;
  color: var(--main-color);
}
@media (max-width: 992px) {
  .Sidebar .menu .data span,
  .Sidebar .menu .data p {
    display: none;
  }
}
